<!-- form untuk menambah atau menghapus star pada experience -->
<form method="post" action="{% url 'main:toggle_star_experience' experience.id %}" class="star-form">
    {% csrf_token %}
    <!-- tombol untuk toggle star/unstar -->
    <button type="submit"
            class="button button-star{% if user in experience.starred_by.all %} is-starred{% endif %}"
            title="{% if experience.starred_by.all %}Starred by {{ experience.starred_by.all|join:', ' }}{% else %}Be the first one to give a star!{% endif %}">
        <!-- icon star  -->
            <span aria-hidden="true">★</span>
        <!-- menampilkan unstar jika user sudah memberi star atau star jika belum -->
        {% if user in experience.starred_by.all %}Unstar{% else %}Star{% endif %}
        <!-- menampilkan jumlah user yang memberikan star -->
        <span class="star-count">{{ experience.starred_by.count }}</span>
    </button>
</form>